
*.xml
*.xml
*.xml
*.xml
*.class
*.class
.idea/gradle.xml
.DS_Store
*.bin
*.lock
.idea/.name
.idea/workspace.xml
out/test/classes/Selenide_tests/Tests.class
src/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
.idea/misc.xml
.idea/gradle.xml
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/4.8/fileHashes/fileHashes.bin
