
*.xml
*.xml
*.xml
*.xml
*.class
*.class
.idea/gradle.xml
.DS_Store
*.bin
*.lock
.idea/.name
.idea/workspace.xml
out/test/classes/Selenide_tests/Tests.class
src/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
.idea/misc.xml
.idea/gradle.xml
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/4.8/fileHashes/fileHashes.bin
.idea/workspace.xml
*.jar
*.json
*.yml
*.js
*.txt
*.properties
*.bat
*.png
*.html
*.csv
*.ico
*.jpg
*.xml
*.lock
*.bin
.DS_Store
.allure/allure-2.6.0/bin/allure
*.svg
*.css
src/test/java/.DS_Store
src/test/.DS_Store
*.idx
*.zip
*.xml
*.lock
*.bin
.DS_Store
*.log
